@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%
}

body {
    font-size: 12px;
    line-height: 1;
    font-family: arial, "Hiragino Sans GB";
    background: #fff;
    color: #0f0f0f;
}
.hide-flash-block object[type="application/x-shockwave-flash"] {
    display:none!important;
}
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

ul, ol {
    list-style: none;
}

input,textarea {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Microsoft Yahei", "Open Sans", "Helvetica Neue", Arial;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:    #999;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:    #999;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:    #999;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:    #999;
}

select, input {
    vertical-align: middle;
}

input, textarea {
    margin: 0;
    color: #333;
    outline-style: none;
}

select {
    height: 30px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #ddd;
    color: #555;
}

textarea {
    resize: none; /*防止拖动*/
   	border: 1px solid #ddd;
   	border-radius: 2px;
   	border-color: #ddd;
   	padding: 5px 10px;
}
textarea :focus {
    border-color: #64be6c;
    outline: 0;
}
img { /*  去掉图片低测默认的3像素空白缝隙*/
    border: 0;
    vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"] {
    border: 0;
    outline: 0;
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    font-size: 16px;
    color: #999;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*公共类*/
.wrapper {
    width: 1235px;
    /*width: 1200px;*/
    margin: 0 auto;
}

body {
    min-width: 1200px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.not-allowed {
    cursor: not-allowed !important;
    color: #ccc !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

h1, .h1 {
    font-size: 30px;
}

h2, .h2 {
    font-size: 24px;
}

h3, .h3 {
    font-size: 18px;
}

h4, .h4 {
    font-size: 16px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6 {
    font-size: 12px;
}

/*  color start */

.main-color {
    color: #3DDDAB !important;
}

.color-number {
    color: #2da1ee !important;
}

.color-title {
    color: #333 !important;
}
.color-999{
	color: #999 !important;
}
.color-333{
	color: #333 !important;
}
/*  color end */

/*backgroundcolor start*/
.bg-test {
    background-color: #fcf!important;
}
.bg-fff {
    background-color: #fff!important;
}
.bgc-F8{
	background-color: #f8f8f8;
}
/*backgroundcolor end*/

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 6px;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left!important;
}

.ac {
    text-align: center!important;
}

.ar {
    text-align: right!important;
}

/* font-size start */
.fz12 {
    font-size: 12px !important;
}

.fz14 {
    font-size: 14px !important;
}

.fz16 {
    font-size: 16px !important;
}

.fz18 {
    font-size: 18px !important;
}

.fz24 {
    font-size: 24px !important;
}

.fz30 {
    font-size: 30px !important;
}

.fzb12 {
    font-size: 12px !important;
    font-weight: bold;
}

.fzb14 {
    font-size: 14px !important;
    font-weight: bold;
}

.fzb16 {
    font-size: 16px !important;
    font-weight: bold;
}

.fzb18 {
    font-size: 18px !important;
    font-weight: bold;
}

.fzb32 {
    font-size: 32px !important;
    font-weight: bold;
}

.font-bold {
    font-weight: 700
}
.fzn {
    font-weight: normal;
}
/* font-size end */
/* line-height start */
.lh24 {
    line-height: 24px !important;
}

.lh26 {
    line-height: 26px !important;
}

.lh28 {
    line-height: 28px !important;
}

.lh30 {
    line-height: 30px !important;
}
.lh34 {
    line-height: 34px !important;
}
.lh35 {
    line-height: 35px !important;
}

.lh40 {
    line-height: 40px !important;
}

.lh50 {
    line-height: 50px !important;
}
.lh58 {
    line-height: 58px !important;
}
.lh60 {
    line-height: 60px !important;
}

.lh75 {
    line-height: 75px !important;
}

/* line-height end */
/* border-radius start */
.bradius-4 {
    border-radius: 4px;
}
/* border-radius end */
/* border start */
.border-bottom-dada {
    border-bottom: 1px solid #dadada;
}
.border-bottom-999 {
    border-bottom: 1px solid #b2b2b2!important;
}
.border-bottom-ccc {
    border-bottom: 1px solid #ccc;
}
.border-right-dada {
    border-right: 1px solid #dadada;
}
.border-right-none {
    border-right: none;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
}
.border-bottom-C5 {
    border-bottom: 1px solid #c5c5c5;
}
.border-c3c3 {
    border: 1px solid #C3C3C3;
}
.border-ccc {
    border: 1px solid #ccc;
}
.border-ddd {
    border: 1px solid #ddd;
}
/* border end */
/*  input start */
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 8px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
}

.inline-block-middle,
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-inline .input-ico-l {
    position: absolute;
    top: 3px;
    left: 7px;
}

.form-inline .input-ico-r {
    position: absolute;
    top: 10px;
    right: 3px;
}

.form-inline .input-group-add {
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAHlBMVEUhvPUhvPUhvPUhvPUhvPUhvPUhvPUhvPUAAAAhvPUQpp4SAAAACXRSTlMz861BJuqSiwAm50meAAAANUlEQVQY02OYiQyEPBgmMCAB8xBUPkMSGt8Qjc9JLf5MGvJhfkbn09x+ysPHEH98mIegxycA0bQyi+i/4qYAAAAASUVORK5CYII=") center no-repeat;
}
.form-inline .input-group-add.maxadd {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAG1BMVEUhvPUhvPUhvPUhvPUhvPUhvPUhvPUAAAAhvPU3nHEeAAAACXRSTlMPTVdINAssACpycDNhAAAANUlEQVQY02MQRAYm4QwCDEiAwxSVz5CCxmdG4zNSi69ES74SBKDzaW4/5eHDjD8+2EzR4xMAlBoJYaony4gAAAAASUVORK5CYII=") center no-repeat;
}
.form-inline .input-group-minus{
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAHlBMVEUhvPUhvPUhvPUhvPUhvPUhvPUhvPUhvPUAAAAhvPUQpp4SAAAACXRSTlMz8q1BJuqMiwD89cd6AAAAM0lEQVQY02NoUZyJDBhcixmQACeDGgMqXxiNP2Ho8TkhXp2Azh8s7kMLb7zxgR5f6PEJALznKHFIwanRAAAAAElFTkSuQmCC") center no-repeat;
}
.form-inline .input-group-minus.ninadd {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAGFBMVEUhvPUhvPUhvPUhvPUhvPUhvPUhvPUAAACbP129AAAACHRSTlMPTVdINCoLAJt0CngAAAAzSURBVBjTYyhzFkQGDMkBDEiAkcGVAZVvgMYXGHp8JiUwUEDnDxb3oYU33vhAjy/0+AQAS74I1TrxdQcAAAAASUVORK5CYII=") center no-repeat;

}

.form-inline .input-left-ico {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.form-inline .input-right-ico {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

input:focus,
textarea:focus{
    border-color: #64be6c;
    outline: 0;
}

.input-disabled[disabled] {
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed;
    color: #ccc;
}

input[type="checkbox"] + .i-checkbox,
input[type="radio"] + .i-radio {
    padding-left: 18px;
    vertical-align: middle
}

input[type="checkbox"] + .i-checkbox {
    background: url(http://s.qunarzz.com/srmweb/common/icon-icheck-v2.png) no-repeat 0 0
}

input[type="radio"] + .i-radio {
    background: url(http://s.qunarzz.com/srmweb/common/icon-icheck-v2.png) no-repeat -99px 0
}

input[type="checkbox"] + .i-checkbox:hover {
    background-position: -20px 0
}

input[type="radio"] + .i-radio:hover {
    background-position: -119px 0
}

input[type="checkbox"]:checked + .i-checkbox {
    background-position: -40px 0
}

input[type="radio"]:checked + .i-radio {
    background-position: -139px 0
}

input[type="checkbox"]:focus + .i-checkbox {
    background-position: -40px 0
}

input[type="radio"]:focus + .i-radio {
    background-position: -139px 0
}

input[type="checkbox"]:disabled + .i-checkbox {
    background-position: -60px 0
}

input[type="checkbox"]:disabled + .i-checkbox.checked {
    background-position: -80px 0
}

input[type="radio"]:disabled + .i-radio {
    background-position: -160px 0
}

input[type="radio"]:disabled + .i-radio.checked {
    background-position: -180px 0
}

/*  input end */
/* select start */
.select-box-inlineblock {
    display: inline-block;
}

.select-box-inlineblock select {
    height: 30px;
    border: 1px solid #ddd;
    border-right: none;
    color: #0f0f0f;
}

.select-box-inlineblock .border-right {
    border: 1px solid #ddd;
}

.select-box-inlineblock input {
    width: 147px;
    margin-right: 0px;
    border: 1px solid #ddd;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    margin-right: 10px;
}

/* select end */
/* button start */

/* button end */
.btn-tab {
    color: #333;
    font-size: 14px !important;
    background-color: #fff;
    border-radius: 2px 2px 0 0;
    border: 1px solid #dadada;
    border-bottom: none;
}

.btn-tab:hover {
    color: #fff;
    background-color: #21bcf5 !important;
}

.btn-tab.disabled:hover,
.btn-tab[disabled]:hover,
.btn-tab.disabled:focus,
.btn-tab[disabled]:focus,
.btn-tab.disabled.focus,
.btn-tab[disabled].focus {
    background-color: #b1b1b1;
    border-color: #2e6da4
}
.disabled-btn {
    cursor: not-allowed !important;
    background: #f7f7f7 !important;
    color: #999 !important;
}

.btn-default {
    background: #f8f8f8;
    color: #555;
    border: 1px solid #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #bebebe
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus {
    background-color: #fff;
    border-color: #ddd
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #21bcf5;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0094ca;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus {
    background-color: #b1b1b1;
    border-color: #2e6da4
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.btn-delicate {
    color: #696969;
    border: 1px solid transparent;
    background-color: #fff;
    border-color: #eaeaea;
}

.btn-delicate:hover,
.btn-delicateDEL.active,
.btn-delicateDEL.active:hover{
    color: #21bcf5;
    border-color: #21bcf5
}
.btn-delicate:hover .color-primary,
.btn-delicateDEL.active .color-primary{
	color: #21bcf5;
}
.btn-delicateDEL {
    color: #696969;
    border: 1px solid transparent;
    background-color: #fff;
    border-color: #eaeaea;
}

.btn-delicateDEL:hover {
    color: #ff4343;
    border-color: #ff4343
}
.btn-delicateDEL:hover .color-primary{
	color: #ff4343;
}

.btn-delicate.disabled:hover,
.btn-delicate[disabled]:hover,
.btn-delicate.disabled:focus,
.btn-delicate[disabled]:focus,
.btn-delicate.disabled.focus,
.btn-delicate[disabled].focus {
    background-color: #fff;
    border-color: #696969
}

.btn-delicate .badge {
    color: #fff;
    background-color: #696969
}

.btn-link {
    color: #2da1ee;
    background-color: transparent;
    font-weight: normal;
    border-radius: 0
}

.btn-link:hover,
.btn-link:focus {
    color: #2da1ee;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
    color: #777;
    text-decoration: none
}

.btn-21bcf5 {
    color: #21bcf5;
    border: 1px solid #21bcf5;
    background-color: #fff;
}


.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.btn-sm,
.btn-group-sm > .btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px
}

.btn-block {
    display: block !important;
    width: 100% !important;
}

.btn-inlineblock {
    display: inline-block;
}

.btn-circle {
    border-radius: 50%
}

.btn-hide {
    display: none;
}

.btn-block + .btn-block {
    margin-top: 5px
}

/*tab start*/
.tab-layout{
	border-bottom: 1px solid #dadada;
	height: 28px;
    line-height: 28px;
}
.tab-layout span{
	box-sizing: border-box;
	margin-left: -3px;
	display: inline-block;
    text-align: center;
    cursor: pointer;
    padding-top: 2px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    border-bottom: 1px solid #dadada;
}
.tab-layout span.active{
	color: #21bcf5;
	padding-top: 0;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	border-top: 2px solid #21bcf5;
	border-bottom: none;
}
.tab-layout span:hover{
	color: #21bcf5;
}
/*tab end*/

/*table start*/
.tb-titlebg {
    background-color: #ddf6ff;
}

.tb-line {
    border: 1px solid #e1e1e2;
}

.tb-linebm {
    border-bottom: 1px solid #e1e1e2;
}
tbody tr.active {
    color: #0fa1ff;
    background-color: #fafafa;
}
.tb-linebl{
	border-left: 1px solid #e1e1e2;
}
.tb-block {
    width: 100%;
}

.tb-color {
    color: #696969;
}

.tb-updownIcon {
    color: #21bcf5
}

.tb-hide {
    display: none;
}

.tb-block tbody tr:hover,
.tb-slideDownBg {
    background-color: #fafafa;
}
.tbl-none{
	border-left: none;
}
.tbr-none{
	border-right: none;
}
/*table end*/

/*modal start*/
.modal{
	position: fixed !important;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
.modal-dialog {
	position: relative;
    width: 600px;
    margin-top:98px;
    margin: 98px auto;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-dialog.modal-lg,
.modal-dialog.modal-md {
    margin: auto;
    position: absolute!important;
    top: -3%;
    left: 0;
    bottom: 0;
    right: 0;
}
#myModal .modal-dialog{
	opacity: 0;
}
.modal-header {
	border-radius: 5px 5px 0 0;
    background-color: #60CDF5;
    color: #fff;
    padding: 14px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.close{
	cursor: pointer;
	text-shadow: 0 1px 0 #fff;
}
.close:hover{
	color: #808080;
	text-shadow: 0 1px 0 #808080;
}
.modal-lg {
    width: 900px;
}
.modal-md {
    width: 600px;
}
.modal-sm {
    width: 300px;
}
.modal.fadeIn .modal-dialog{
	margin: 162px auto;
}
.modal .title-left{
    border-left: 2px solid #21BCF5;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}
.modal .bg-f2f7fa:hover{
    background-color: #f2f7fa;
}
.modal .numberTips{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #bcebfc;
    color: #5bcef8;
    text-align: center;
    line-height: 18px;
    right: -8px;
    top: -8px;
}
.modal .channelListLabel{
    position: absolute;
    width: 540px;
    max-height: 576px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .3);
}
.modal .channelBox{
    width: 70px;
    height: 70px;
    margin: 10px;
    float: left;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}
.modal .channelBox:hover{
    border: 1px solid #21bcf5;
}
/*modal end*/

/*pops start*/
.pops-target:hover .pops-body{
    display: inline-block;
}
.pops-body {
    position:relative;
    display: none;
    padding: 8px;
    background:#fff;
    border-radius:5px; /* 圆角 */
    z-index: 2;
    box-shadow: 0 0 6px rgba(153, 153, 204, .5);
}
.pops-body .bdnuarrow{
    position:absolute;
    width:0;
    height:0;
    font-size:0;
    border:solid 8px;
}
.pops-body em, .pops-body i {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border: 8px solid transparent;
}
.pops-body .arrow-right {
    top:5px;
    right:-8px; /* 圆角的位置需要细心调试哦 */
    border-color:transparent transparent transparent #fff;
}
.pops-body .arrow-right i{
    border-style: dashed dashed dashed solid;
    border-left-color: #fff;
    top:-7px;
    right:-16px;
}
.pops-body .arrow-right em {
    border-style: dashed dashed dashed solid;
    border-left-color: #e3e3e3;
    top:-7px;
    right:-18px;
}
.pops-body .arrow-left {
    top:5px;
    left:-8px; /* 圆角的位置需要细心调试哦 */
    border-color:transparent #fff transparent transparent ;
}
.pops-body .arrow-left i{
    border-style: dashed solid dashed dashed ;
    border-right-color: #fff;
    top:-7px;
    left:-16px;
}
.pops-body .arrow-left em {
    border-style: dashed solid dashed dashed;
    border-right-color: #e3e3e3;
    top:-7px;
    left:-18px;
}
.pops-body .arrow-top {
    top:-23px;
    left:50%; /* 圆角的位置需要细心调试哦 */
    margin-left: -8px;
    border-color:transparent transparent transparent transparent ;
}
.pops-body .arrow-top i{
    border-style: dashed dashed solid dashed ;
    border-bottom-color: #fff;
    top:0;
    left: 50%;
    margin-left: -8px;
}
.pops-body .arrow-top em {
    border-style: dashed dashed solid dashed;
    border-bottom-color: #e3e3e3;
    top:-2px;
    left: 50%;
    margin-left: -8px;
}
.pops-body .arrow-bottom {
    bottom:-23px;
    left:50%; /* 圆角的位置需要细心调试哦 */
    margin-left: -8px;
    border-color:#fff transparent transparent transparent ;
}
.pops-body .arrow-bottom i{
    border-style:solid dashed dashed dashed ;
    border-top-color: #fff;
    bottom:0;
    left: 50%;
    margin-left: -8px;
}
.pops-body .arrow-bottom em {
    border-style:solid dashed dashed dashed;
    border-top-color: #e3e3e3;
    bottom:-2px;
    left: 50%;
    margin-left: -8px;
}
.pops-body.pops-sm{
    width: 200px;
    height: 80px;
}
.pops-body.pops-md{
    width: 350px;
    height: 150px;
}
/*pops end*/

a {
    color: #333;
}

a:hover, a:focus {
    color: #0d0d0d;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.color-primary,
a.color-primary {
    color: #696969
}

.color-success,
a.color-success {
    color: #58bc62
}

.color-info,
a.color-info {
    color: #5bc0de
}

.color-warning,
a.color-warning {
    color: #f0ad4e
}

.color-danger,
a.color-danger {
    color: #f00
}

.color-gray,
a.color-gray {
    color: #999
}

.color-blue,
a.color-blue {
    color: #2da1ee
}

.color-green,
a.color-green {
    color: #4fad71
}

.color-main,
a.color-main {
    color: #333
}

.color-yellow,
a.color-yellow {
    color: #ffa800
}

.color-white,
a.color-white {
    color: #fff
}

.color-orange,
a.color-orange {
    color: #ffa500
}
.color-21bdf5,
a.color-21bdf5 {
    color: #21bdf5
}

.bg-primary {
    background-color: #53ac73
}

.bg-success {
    background-color: #58bc62
}

.bg-danger {
    background-color: #f00
}

.bg-gray {
    background-color: #999
}

.fn-hide {
    display: none !important;
}

.fn-show {
    display: block !important;
}
/* display: block; inline-block inline start */
.block {
    display: block;
}
.inline-block {
     display: inline-block;
 }
/* display: block; inline-block inline end */
/* visibility: visible; hidden start */
.visibility-visible {
    visibility: visible;
}
.visibility-hidden  {
    visibility: hidden;
}
/* display: block; inline-block inline end */
.fn-tahoma {
    font-family: tahoma
}

.fn-yahei {
    font-family: "Microsoft YaHei", "STXihei,MingLiu";
    font-style: normal
}

.fn-yh {
    font-family: "Microsoft YaHei"
}

.fn-break,
.word-wrap {
    word-break: break-all;
    word-wrap: break-word
}

.fn-txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pointer {
    cursor: pointer
}
/* overflow: hidden/auto/x/y start */
.of-h {
    overflow: hidden;
}
.of-y {
    overflow-y: auto;
    overflow-x: hidden;
}
.of-x {
    overflow-y: hidden;
    overflow-x: auto;
}
.of-auto {
    overflow-y: auto;
    overflow-x: auto;
}
/* position: absolute/relative start */
.pos-relative,
.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}

.pos-static {
    position: static !important;
}
.left-0{
    left: 0 !important;
}
.left5 {
    left: 5px !important;
}
.left-5{
    left: -5px !important;
}
.right-0{
    right: 0 !important;
}
.right_28{
    right: -28px !important;
}
.right_32{
    right: -32px !important;
}
.top-6{
    top: -6px !important;
}
.top8{
	top: 8px !important;
}
.top35{
    top: 35px !important;
}
.top45{
	top: 45px !important;
}
.bottom-10{
    bottom: 10px !important;
}
.zindex100 {
    z-index: 100;
}
/* position: absolute/relative end */
.font-arial {
    font-family: arial
}

.font-yahei {
    font-family: "Microsoft YaHei"
}
/* margin start */
.mg0{
	margin: 0 auto;
}
.mt-1 {
    margin-top: -1px !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mt1 {
    margin-top: 1px !important;
}

.mt2 {
    margin-top: 2px !important;
}

.mt3 {
    margin-top: 3px !important;
}

.mt4 {
    margin-top: 4px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt6 {
    margin-top: 6px !important;
}

.mt7 {
    margin-top: 7px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mt9 {
    margin-top: 9px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt12 {
    margin-top: 12px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}
.mt50 {
    margin-top: 50px !important;
}

.mr1 {
    margin-right: 1px !important;
}

.mr2 {
    margin-right: 2px !important;
}

.mr3 {
    margin-right: 3px !important;
}

.mr4 {
    margin-right: 4px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr6 {
    margin-right: 6px !important;
}

.mr7 {
    margin-right: 7px !important;
}

.mr8 {
    margin-right: 8px !important;
}

.mr9 {
    margin-right: 9px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb18 {
    margin-bottom: 18px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb1 {
    margin-bottom: 1px !important;
}

.mb2 {
    margin-bottom: 2px !important;
}

.mb3 {
    margin-bottom: 3px !important;
}

.mb4 {
    margin-bottom: 4px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb6 {
    margin-bottom: 6px !important;
}

.mb7 {
    margin-bottom: 7px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.mb9 {
    margin-bottom: 9px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}
.ml-1 {
    margin-left: -1px!important;
}
.ml0 {
    margin-left: 0 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}
.ml12 {
    margin-left: 12px !important;
}
.ml14 {
    margin-left: 14px !important;
}
.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml1 {
    margin-left: 1px !important;
}

.ml2 {
    margin-left: 2px !important;
}

.ml3 {
    margin-left: 3px !important;
}

.ml4 {
    margin-left: 4px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml6 {
    margin-left: 6px !important;
}

.ml7 {
    margin-left: 7px !important;
}

.ml8 {
    margin-left: 8px !important;
}

.ml9 {
    margin-left: 9px !important;
}

.ml10 {
    margin-left: 10px !important;
}
.ml62 {
    margin-left: 62px !important;
}
.pd0{
	padding: 0 !important;
}
.pd10 {
    padding: 10px!important;
}
.pt0 {
    padding-top: 0 !important;
}

.pt2 {
    padding-top: 2px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt7 {
    padding-top: 7px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt14 {
    padding-top: 14px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pt17 {
    padding-top: 17px !important;
}
.pt20 {
    padding-top: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr7 {
    padding-right: 7px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pr30 {
    padding-right: 30px !important;
}
.pr35 {
    padding-right: 35px !important;
}
.pr60 {
    padding-right: 60px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pb2 {
    padding-bottom: 2px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}
.pb7 {
    padding-bottom: 7px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}
.plp3 {
    padding-left: 3.75% !important;
}
.pl0 {
    padding-left: 0 !important;
}
.pl3 {
    padding-left: 3px !important;
}
.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl16 {
    padding-left: 16px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pl22 {
    padding-left: 22px !important;
}
.pl25 {
    padding-left: 25px !important;
}

.pl30 {
    padding-left: 30px !important;
}
.pl35 {
    padding-left: 35px !important;
}
.pl45 {
    padding-left: 50px !important;
}

.pl230 {
    padding-left: 230px !important;
}
/* width start */
.w20p{
	width: 19.5%!important;
}
.w25p{
	width: 24.5%!important;
}
.w5 {
    width: 5px !important;
}

.w10 {
    width: 10px !important;
}

.w15 {
    width: 15px !important;
}

.w16 {
    width: 16px !important;
}

.w20 {
    width: 20px !important;
}

.w25 {
    width: 25px !important;
}

.w30 {
    width: 30px !important;
}

.w35 {
    width: 35px !important;
}

.w40 {
    width: 40px !important;
}

.w45 {
    width: 45px !important;
}

.w50 {
    width: 50px !important;
}

.w55 {
    width: 55px !important;
}

.w60 {
    width: 60px !important;
}

.w65 {
    width: 65px !important;
}

.w70 {
    width: 70px !important;
}

.w75 {
    width: 75px !important;
}

.w80 {
    width: 80px !important;
}

.w85 {
    width: 85px !important;
}

.w90 {
    width: 90px !important;
}

.w92 {
    width: 92px !important;
}
.w95 {
    width: 95px !important;
}

.w100 {
    width: 100px !important;
}

.w105 {
    width: 105px !important;
}

.w110 {
    width: 110px !important;
}

.w115 {
    width: 115px !important;
}

.w120 {
    width: 120px !important;
}

.w125 {
    width: 125px !important;
}

.w130 {
    width: 130px !important;
}

.w135 {
    width: 135px !important;
}

.w140 {
    width: 140px !important;
}

.w145 {
    width: 145px !important;
}

.w150 {
    width: 150px !important;
}

.w155 {
    width: 155px !important;
}

.w160 {
    width: 160px !important;
}

.w165 {
    width: 165px !important;
}

.w170 {
    width: 170px !important;
}

.w175 {
    width: 175px !important;
}

.w180 {
    width: 180px !important;
}

.w185 {
    width: 185px !important;
}

.w190 {
    width: 190px !important;
}

.w195 {
    width: 195px !important;
}

.w200 {
    width: 200px !important;
}

.w205 {
    width: 205px !important;
}

.w210 {
    width: 210px !important;
}

.w215 {
    width: 215px !important;
}

.w220 {
    width: 220px !important;
}

.w225 {
    width: 225px !important;
}

.w230 {
    width: 230px !important;
}

.w235 {
    width: 235px !important;
}

.w240 {
    width: 240px !important;
}

.w245 {
    width: 245px !important;
}

.w250 {
    width: 250px !important;
}

.w255 {
    width: 255px !important;
}

.w260 {
    width: 260px !important;
}

.w265 {
    width: 265px !important;
}

.w270 {
    width: 270px !important;
}

.w275 {
    width: 275px !important;
}

.w280 {
    width: 280px !important;
}

.w285 {
    width: 285px !important;
}

.w290 {
    width: 290px !important;
}

.w295 {
    width: 295px !important;
}

.w300 {
    width: 300px !important;
}

.w305 {
    width: 305px !important;
}

.w310 {
    width: 310px !important;
}

.w315 {
    width: 315px !important;
}

.w320 {
    width: 320px !important;
}

.w325 {
    width: 325px !important;
}

.w330 {
    width: 330px !important;
}

.w335 {
    width: 335px !important;
}

.w340 {
    width: 340px !important;
}
.w343 {
    width: 343px !important;
}
.w345 {
    width: 345px !important;
}

.w350 {
    width: 350px !important;
}

.w360 {
    width: 360px !important;
}

.w400 {
    width: 400px !important;
}

.w500 {
    width: 500px !important;
}

.w600 {
    width: 600px !important;
}

.w650 {
    width: 650px !important;
}

.w700 {
    width: 700px !important;
}
.w741 {
    width: 741px !important;
}
.w760 {
    width: 760px !important;
}
.w800 {
    width: 800px !important;
}
.w840 {
    width: 840px !important;
}

.w900 {
    width: 900px !important;
}

.w1000 {
    width: 1000px !important;
}
.wp10 {
    width: 10%;
}
.wp20 {
    width: 20%;
}
.wp25 {
    width: 25%;
}
.wp32 {
    width: 32%;
}
.wp33 {
    width: 33.333333%;
}
.wp30 {
    width: 30%;
}
.wp40 {
    width: 40%;
}
.wp49 {
    width: 49% !important;
}
.wp50 {
    width: 50% !important;
}
.wp80 {
    width: 80%;
}
.wp90 {
    width: 90%;
}
.wp98 {
    width: 98%;
}
.wp100 {
    width: 100%;
}
.max-wp {
    max-width: 95% !important;
}
/* width end */

.h10 {
    height: 10px !important;
}

.h15 {
    height: 15px !important;
}

.h16 {
    height: 16px !important;
}

.h20 {
    height: 20px !important;
}

.h26 {
    height: 26px !important;
}

.h36 {
    height: 36px !important;
}
.h37 {
    height: 37px !important;
}

.h30 {
    height: 30px !important;
}

.h40 {
    height: 40px !important;
}

.h50 {
    height: 50px !important;
}

.h60 {
    height: 60px !important;
}

.h66 {
    height: 66px !important;
}

.h70 {
    height: 70px !important;
}

.h77 {
    height: 77px !important;
}
.h80 {
    height: 80px !important;
}

.h90 {
    height: 90px !important;
}

.h100 {
    height: 100px !important;
}
.h104 {
    height: 104px !important;
}
.h110 {
    height: 110px !important;
}

.h120 {
    height: 120px !important;
}

.h130 {
    height: 130px !important;
}

.h140 {
    height: 140px !important;
}

.h150 {
    height: 150px !important;
}

.h160 {
    height: 160px !important;
}

.h170 {
    height: 170px !important;
}

.h180 {
    height: 180px !important;
}

.h190 {
    height: 190px !important;
}

.h200 {
    height: 200px !important;
}

.h210 {
    height: 210px !important;
}

.h220 {
    height: 220px !important;
}

.h230 {
    height: 230px !important;
}

.h240 {
    height: 240px !important;
}

.h248 {
    height: 248px !important;
}

.h250 {
    height: 250px !important;
}

.h260 {
    height: 260px !important;
}

.h270 {
    height: 270px !important;
}
.h273 {
    height: 273px !important;
}
.h278 {
    height: 278px !important;
}
.h280 {
    height: 280px !important;
}

.h290 {
    height: 290px !important;
}

.h300 {
    height: 300px !important;
}
.h303 {
    height: 303px !important;
}
.h308 {
    height: 308px !important;
}
.h316 {
    height: 316px !important;
}
.h324 {
    height: 324px !important;
}
.h348 {
    height: 348px !important;
}
.h358 {
    height: 358px !important;
}
.h361 {
    height: 361px !important;
}
.h368 {
    height: 368px !important;
}
.h375 {
    height: 375px !important;
}
.h385 {
    height: 385px !important;
}
.h400 {
    height: 400px !important;
}
.h410 {
    height: 410px !important;
}
.h442 {
    height: 442px !important;
}
.h445 {
    height: 445px !important;
}
.h458 {
    height: 458px !important;
}
.h462 {
    height: 462px !important;
}
.h484 {
    height: 484px !important;
}
.h502 {
    height: 502px !important;
}
.h517 {
    height: 517px !important;
}
/* max-width/min-width start */
.maxwidth90{
    max-width: 90px !important;
}
.maxwidth100 {
    max-width: 100px !important;
}

.maxwidth200 {
    max-width: 200px !important;
}

.maxwidth300 {
    max-width: 300px !important;
}

.maxwidth400 {
    max-width: 400px !important;
}

.maxwidth500 {
    max-width: 500px !important;
}

/* max-width/min-width end */

/* max-height/min-height start */
.minheight30 {
    min-height: 30px !important;
}
.maxheight159 {
    max-height: 159px !important;
}
.maxheight169 {
    max-height: 169px !important;
}
.maxheight207 {
    max-height: 207px !important;
}
.maxheight224 {
    max-height: 224px !important;
}
.maxheight246 {
    max-height: 246px !important;
}
.maxheight272 {
    max-height: 272px !important;
}
.maxheight275 {
    max-height: 275px !important;
}
.maxheight295 {
    max-height: 295px !important;
}
.maxheight307 {
    max-height: 307px !important;
}
.maxheight325 {
    max-height: 325px !important;
}
.maxheight340 {
    max-height: 340px !important;
}
.maxheight345 {
    max-height: 345px !important;
}
.maxheight368 {
    max-height: 368px !important;
}
.maxheight398 {
    max-height: 398px !important;
}
.maxheight403 {
    max-height: 403px !important;
}
.maxheight417 {
    max-height: 417px !important;
}
.maxheight443 {
    max-height: 443px !important;
}
.maxheight453 {
    max-height: 453px !important;
}
.maxheight456 {
    max-height: 456px !important;
}
.maxheight460 {
    max-height: 460px !important;
}
.maxheight478 {
    max-height: 478px !important;
}
.maxheight485 {
    max-height: 485px !important;
}
.maxheight503 {
    max-height: 503px !important;
}
.maxheight524 {
    max-height: 524px !important;
}
.maxheight536 {
    max-height: 536px !important;
}
.maxheight540 {
    max-height: 540px !important;
}
.maxheight548 {
    max-height: 548px !important;
}
.maxheight551 {
    max-height: 551px !important;
}
.maxheight555 {
    max-height: 555px !important;
}
.maxheight557 {
    max-height: 557px !important;
}
.maxheight559 {
    max-height: 559px !important;
}

.maxheight570 {
    max-height: 570px !important;
}
.maxheight577 {
    max-height: 577px !important;
}
.maxheight592 {
    max-height: 592px !important;
}
.maxheight610 {
    max-height: 610px !important;
}
.maxheight643 {
    max-height: 643px !important;
}
/* mi-height/min-height end */

/* vertical-align start */
.ver-t {
    vertical-align: top;
}
.ver-m {
    vertical-align: middle;
}
/* vertical-align end */

.mask {
    z-index: 1027;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    opacity: 0.3;
    background: rgb(0, 0, 0);
}

[v-cloak] {
    display: none;
}

/*iconfont css start*/

@font-face {
    font-family: "iconfont";
    src: url('../../fonts/iconfont.eot?t=1490337472600'); /* IE9*/
    src: url('../../fonts/iconfont.eot?t=1490337472600#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/iconfont.woff?t=1490337472600') format('woff'), /* chrome, firefox */ url('../../fonts/iconfont.ttf?t=1490337472600') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../../fonts/iconfont.svg?t=1490337472600#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
	content: "\e697";
}

.icon-more:before {
	content: "\e6a8";
}

.icon-shanchu:before {
	content: "\e65f";
}

.icon-tianjia:before {
	content: "\e622";
}

.icon-bianji:before {
	content: "\e644";
}

.icon-delete:before {
	content: "\e642";
}

.icon-xiangshang1:before {
	content: "\e76d";
}

.icon-xiangxia1:before {
	content: "\e771";
}

.icon-cuowu:before {
	content: "\e641";
}

.icon-radio:before {
	content: "\e623";
}

.icon-sousuo-sousuo:before {
	content: "\e615";
}

.icon-yichuli:before {
	content: "\e682";
}

.icon-chevron-up:before {
	content: "\e613";
}

.icon-chevron-down:before {
	content: "\e614";
}

.icon-chuli:before {
	content: "\e651";
}

.icon-home:before {
	content: "\e60f";
}

.icon-moneyall:before {
	content: "\e610";
}

.icon-qudaoall:before {
	content: "\e611";
}

.icon-yingyeall:before {
	content: "\e612";
}

.icon-moneydetial:before {
	content: "\e616";
}

.icon-yizhudingdan:before {
	content: "\e617";
}

.icon-weizhudingdan:before {
	content: "\e618";
}

.icon-leftdingdan:before {
	content: "\e619";
}

.icon-daichulidingdan:before {
	content: "\e61a";
}

.icon-yajindetial:before {
	content: "\e61c";
}

.icon-payset:before {
	content: "\e61d";
}

.icon-locationset:before {
	content: "\e61e";
}

.icon-lockset:before {
	content: "\e61f";
}

.icon-limitset:before {
	content: "\e625";
}

.icon-qudaoset:before {
	content: "\e626";
}

.icon-fangdongset:before {
	content: "\e627";
}

.icon-messageset:before {
	content: "\e628";
}

.icon-canceldingdan:before {
	content: "\e62a";
}

.icon-turnlist:before {
	content: "\e62b";
}

.icon-xuanzhong:before {
	content: "\e62c";
}

.icon-weixuanzhong:before {
	content: "\e62d";
}

.icon-radio1:before {
	content: "\e608";
}

.icon-baobiao:before {
	content: "\e649";
}

.icon-door:before {
	content: "\e64a";
}

.icon-shezhi:before {
	content: "\e64b";
}

.icon-custom:before {
	content: "\e64c";
}

.icon-dingdan:before {
	content: "\e64d";
}

.icon-roomset:before {
	content: "\e64e";
}

.icon-caiwu:before {
	content: "\e64f";
}

.icon-reduce:before {
	content: "\e650";
}

.icon-add:before {
	content: "\e652";
}

.icon-renminbi:before {
	content: "\e654";
}

.icon-saleall:before {
	content: "\e653";
}

.icon-xiaofei:before {
	content: "\e655";
}

.icon-dingdanbianjiall:before {
	content: "\e656";
}

.icon-liuyan:before {
	content: "\e657";
}

.icon-dingdan1:before {
	content: "\e658";
}

/*iconfont css end*/

/* iconfont extra start */
.icon-weixuanzhong:hover:before,
.icon-radio1:hover:before {
    color: #21bcf5;
}

.icon-xuanzhong:before,
.icon-radio:before {
    color: #21bcf5;
}
.icon-add:hover{
	color:#21bcf5
}
.icon-reduce:hover{
	color: #ff4343;
}
.icon-renminbi:hover{
	color: #fabe16;
}
/* iconfont extra end */

/*媒体查询兼容*/
@media only screen and (max-width: 1208px) {
    .max1208-mt10 {
       margin-top:10px ;
    }
}
@media only screen and (max-width: 1288px) {
    .max1288-mt10 {
       margin-top:10px ;
    }
}
@media only screen and (max-width: 1299px) {
    .max1299-mt10 {
       margin-top:10px ;
    }
}
@media only screen and (max-width: 1393px) {
    .max1393-mt10 {
       margin-top:10px ;
    }
}
@media only screen and (max-width: 1475px) {
    .max1475-mt10 {
       margin-top:10px ;
    }
}