@charset "UTF-8";


.pos-rel {
    position: relative;
}

.inl-block {
    display: inline-block;
}

input:focus,
textarea:focus{
    outline: 0;
}

input, textarea, select {
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    outline-style: none;
    display: block;
}

input.validate-error,
select.validate-error,
textarea.validate-error {
    border-color: #ff674e!important;
}

/*  ---------------- */
.formErrorBox {
    width: auto;
    position: absolute;
    z-index: 9999;
    white-space: nowrap;
}

.formErrorContent {
    width: auto;
    background: #fff;
    position: relative;
    color: #ff3f1a;
    line-height: 18px;
    font-size: 12px;
    border: 1px solid #d8d6d7;
    padding: 5px 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

}
.formErrorArrow em,
.formErrorArrow span{
    font-style: normal;
    font-size: 30px;
    position: absolute;
    color: #d8d6d7;
}
.formErrorArrow span{
    color: white;
}

/* --------- bottom -------- */

.formErrorBox.bottom{
    left: 0px;
}

.formErrorBox.bottom .formErrorArrow {
    position: absolute;
    top: -31px;
    left: 10px;
}

.formErrorBox.bottom .formErrorArrow em {
    top: 10px;
    left: 4px;
}

.formErrorBox.bottom .formErrorArrow span {
    top: 11px;
    left: 4px;
}
/* --------- right -------- */

.formErrorBox.right {
    top: 50%;
}

.formErrorBox.right .formErrorArrow {
    position: absolute;
    top: -16px;
    left: -12px;
}

.formErrorBox.right .formErrorArrow em {
    top: 10px;
    left: 4px;
}

.formErrorBox.right .formErrorArrow span {
    top: 10px;
    left: 5px;
}

/* --------- left -------- */

.formErrorBox.left {
    top: 50%;
}

.formErrorBox.left .formErrorArrow {
    position: absolute;
    top: -16px;
    right: 14px;
}

.formErrorBox.left .formErrorArrow em {
    top: 10px;
    left: 4px;
}

.formErrorBox.left .formErrorArrow span {
    top: 10px;
    left: 3px;
}

/* --------- top -------- */

.formErrorBox.top {
    left: 0px;
}

.formErrorBox.top .formErrorArrow {
    position: absolute;
    top: -1px;
    left: 8px;
}

.formErrorBox.top .formErrorArrow em {
    top: 11px;
    left: 4px;
}

.formErrorBox.top .formErrorArrow span {
    top: 10px;
    left: 4px;
}